.Button {
  color: var(--reverse);
  font-family: "PP Neue Machina";
  font-weight: 800;
  border-style: none;
  padding: 10px 20px;
  border-radius: var(--button-radius);
  background: var(--brand-secondary);
  transition: 0.2s ease-in;
  border: 4px solid var(--brand-secondary);
  cursor: pointer;
  min-width: 140px;

  &.Button:hover {
    background: var(--brand-primary);
    border-color: var(--brand-primary);
  }

  &.secondary {
    color: var(--brand-primary);
    background-color: inherit;
    border: 2px solid var(--brand-primary);
  }
  &.secondary:hover {
    color: var(--light);
    background: var(--brand-primary);
  }

  &.pill {
    color: var(--subdued);
    border: 2px solid var(--subdued);
    background-color: inherit;
    border-radius: 50px;
  }
  &.pill:hover {
    text-decoration: underline;
    background: inherit;
    border-color: inherit;
  }

  &.disabled {
    cursor: not-allowed;
    border: 4px solid var(--light);
    background: var(--light);
  }
  &.disabled:hover {
    border: 4px solid var(--light);
    background: var(--light);
  }
}
