.navbar {
  display: flex;
  justify-content: space-between;
  margin: var(--space-m) var(--space-l);
  font-family: "PP Neue Machina";
}

.Logo {
  display: flex;
  align-items: center;
  color: var(--ink);
  font-size: 16px;
  letter-spacing: -0.32px;
}

@media screen and (max-width: 1024px) {
  .navbar {
    margin: var(--space-m);
  }
}
